{% load appointments_extra %}
<p><strong>Name:</strong> {{ master.user.username }}</p>
<p><strong>Services:</strong></p>
<ul>
    {% for service in master.service_set.all %}
    <li>{{ service.service_type }}</li>
    {% endfor %}
</ul>
<p><strong>Schedule:</strong></p>
<ul>
    {% for key in schedule_dict.keys %}
    <li>{{ key }}
        <ul>
            {% get_time_list schedule_dict key as time_list %}
            {% for time in time_list %}
            <li>{{ time }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% if user.master == master %}
<a href="{% url 'appointments:master_edit' master.id %}">Edit</a>
{% endif %}
